<% include ../partials/header %>

<h2>Edit Your Post</h2>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST">
  <div class="edit">
    <div class="upload">
      <label>Your Image</label>
    </div>
    <div class="input-group">
      <label>User</label>
        <select name="user_id">
          <% users.forEach(user => { %>
            <% if (user.id === post.user_id) { %>
          <option value="<%= user.id %>" selected>
            <%= user.name %>
          </option>
            <% } else { %>
              <option value="<%= user.id %>"><%= user.name %>
          </option>
          <% } %>
        <% }) %>%
        </select>
    </div>
    <div class="input-group">
      <label>Image</label>
      <input type="text" name="photo_url" placeholder="Insert image url here...">
  <!-- <button type="submit" class="img-btn">Add Image</button> -->
    </div>
    <div class="input-group">
      <label>Description</label>
      <textarea rows="10" cols="50" name="description" placeholder="Add your description here..."></textarea>
    </div>
    <div class="input-group">
      <button type="submit" class="btn"><i style="font-size:24px" class="fa">&#xf14b;</i></button>
    </div>
  </form>
  <div class="input-group">
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn delete"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
