<% include ../partials/header %>

<h2>Edit Your Post</h2>
<div class="edit-container">
<div class="container">
<form action="/posts/<%= post.post_id %>?_method=PUT" method="POST">
  <div class="edit">
    <div class="input-group">
      <div id="new-image">
        <img src="<%= post.photo_url %>">
      </div>
    </div>
    <div class="input-group">
     <label>User</label>
        <select name="user_id">
          <% users.forEach(user => { %>
            <% if (post.user_id === user.id) { %>
          <option value="<%= user.id %>" selected>
            <%= user.name %>
          </option>
            <% } else { %>
              <option value="<%= user.id %>"><%= user.name %>
          </option>
          <% } %>
        <% }) %>%
        </select>
    </div>
    <div class="input-group">
      <label>Image: </label>
      <input type="text" name="photo_url" value="<%= post.photo_url %>" size="70" placeholder="Insert image url here..." readonly>
    </div>
    <div class="input-group">
      <label>Description: </label>
      <textarea rows="10" cols="50" name="description" value="<%= post.description %>" placeholder="
      <%= post.description %>" ></textarea>
    </div>
    <div class="input-group">
        <button type="submit" class="sub-btn"><i style="font-size:24px" class="fa">&#xf14b;</i></button>
    </div>
  </form>
  <div class="input-group">
    <form action="/posts/<%= post.post_id %>?_method=DELETE" method="POST">
    <button type="submit" class="del-btn"><i style="font-size:24px" class="fa">&#xf1f8;</i></button>
    </form>
  </div>
</div>
</div>

<% include ../partials/footer %>
