<% include ../partials/header %>

<h2>Instagram-Lite</h2>
<div class="home-container">
  <div class="input-group">
    <% posts.forEach(post => { %>
      <div class="input-group">
        <a href="/posts/<%= post.id %>">Click</a>
            <img class="profile-pic" src="<%= post.img_url %>">
            <p><%= post.id %></p>
            <p class="user">
              <%= post.name %>
          </p>
      </div>
        <div class="img">
          <img class="add-img" src="<%= post.photo_url %>">
        </div>
      <p class="description">
        <%= post.description %>
      </p>
        <p class="date-time">
         <%=fromNow(post.published_at) %>
        </p>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
