<% include ../partials/header %>

<h2 class="home-h2">Instagram-Lite</h2>
<div class="home-container">
  <div class="input-group">
    <% posts.forEach(post => { %>
        <p><a href="/posts/<%= post.post_id %>"><img class="profile-pic" src="<%= post.img_url %>">
        <%= post.name %></a></p>
        <div class="img">
          <img class="add-img" src="<%= post.photo_url %>">
        </div>
      <p class="description">
        <%= post.description %>
      </p>
        <p class="date-time">
         <%=fromNow(post.published_at) %>
        </p>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
