<% include ../partials/header %>

<div class="container">
  <div class="input-group">
    <div class="input-header">
      <img class ="input-pic" src= "<%= post.img_url %>">
      <span class="input-name"> <%= post.user_name %> </span>
    </div>
    <div class="input-image">
      <img src="<%= post.photo_url %>">
    </div>
    <div class="input-description">
      <%= post.description %>
    </div>
    <div class="input-time">
      <%= fromNow(post.published_at) %>
    </div>
    <a class="input-edit" href="/posts/<%= post.post_id %>/edit">
      <i style="font-size:24px" class="fa edit">&#xf14b;</i>
    </a>
  </div>
</div>

<% include ../partials/footer %>


