<% include ../partials/header %>

<div class="container">
  <div class="input-group">
    <p><a href="/posts/<%= post.post_id %>/edit"><i style="font-size:24px" class="fa">&#xf14b;</i></a></p>
    <div class="user">
      <img class ="profile-pic" src= "<%= post.img_url %>">
      <%= post.user_name %>
    </div>
    <div class="img">
      <img class="add-img" src="<%= post.photo_url %>">
    </div>
    <p class="description">
      <%= post.description %>
    </p>
    <p class="date-time">
      <%= post.published_at %>
    </p>
  </div>
</div>
<% include ../partials/footer %>
