<% include ../partials/header %>

<div class="container">
  <p><a href="/posts/<%= post.id %>/edit">Edit</a></p>
  <p class="user">
  <img class ="profile-pic" src= "<%= post.img_url %>">
    <%= post.user_name %>
  </p>
  <p class="img">
    <img class="add-img" src="<%= post.photo_url %>">
  </p>
  <p class="description">
    <%= post.description %>
  </p>
  <p class="date-time">
    <%= post.published_at %>
  </p>
</div>

<% include ../partials/footer %>
